# Ambiente virtual
.venv/
venv/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos do VS Code
.vscode/

# Arquivos do PyCharm
.idea/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Cache do pytest
.pytest_cache/

# Arquivos de cobertura
.coverage
htmlcov/